.main-heading {
  font-size: 3rem;
  color: #141c3a;
  font-weight: 800;
}

.description {
  font-size: 1.4rem;
  color: rgba(10, 10, 10, 0.9);
}

.about {
  background-color: #6e07f3;
  padding: 10rem 0rem 5rem;
  text-align: center;
  color: #fff;
}


.button {
  margin: auto;
  width: fit-content;
  border: 2px solid #6e07f3;
  border-radius: 20px;
  padding:  10px;
  transition: all 0.3s;
}

.button:hover {
  background-color: #6e07f3;
}

.button a {
  text-decoration: none;
  color: #6e07f3;
  font-size: 1.125rem;
  transition: all 0.3s;
}

.button:hover a {
  color: #fff;
}

@media (max-width: 768px) {
  .about{
  padding: 5rem 0rem 2.5rem;
  font-size: 1.01rem;
  }
}