.img-logo {
  width: 3rem;
}

.link a {
    font-size: 1.125rem;
    transition: all 0.5s;
}

.link:hover a{
    color: #6e07f3;
}

.contact {
    border: 2px solid #6e07f3;
    border-radius: 20px;
    padding: 0 10px;
    transition: all 0.3s;
}

.contact:hover {
    background-color: #6e07f3;
}

.contact a{
    color: #6e07f3;
    font-size: 1.125rem;
    transition: all 0.3s;
}

.contact:hover a {
    color: #fff;
}
