.img-logo {
  width: 3rem;
}

.link {
  border: 2px solid #6e07f3;
  border-radius: 22px;
  padding: 0 10px;
  transition: all 0.3s;
  width: fit-content;
  margin-right: 10px;
}

.link a {
  font-size: 1.25rem;
  transition: all 0.5s;
  color: #6e07f3;
}

.link a:visited{
  color: #6e07f3;
}

.link:hover a {
  color: #fff;
}

.link:hover {
  background-color: #6e07f3;
}

@media (max-width: 480px) {
  .link:last-child {
    margin-right: auto;
  }

  .link:first-child {
    margin-left: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .link:last-child {
    margin-right: auto;
  }

  .link:first-child {
    margin-left: auto;
  }
}
